<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9CkXfy9KLfz0Vmi-OVXl8b5MDTNV5y7o</string>
	<key>GCM_SENDER_ID</key>
	<string>317702297035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.otelcim</string>
	<key>PROJECT_ID</key>
	<string>otelcim-7f0ba</string>
	<key>STORAGE_BUCKET</key>
	<string>otelcim-7f0ba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317702297035:ios:214479227c278d386fd24e</string>
</dict>
</plist>